h1 {
  font-family: $lato;
  font-weight: $muygrueso;
}

h2 {
  font-family: $lato;
  font-weight: $muygrueso;
}

h3 {
  font-family: $lato;
  font-weight: $grueso;
}

p {
  font-family: $lato;
  color: $gris;
}
