// Colores

$verde: #7cea9c;
$gris: #2d3047;
$negro: #071013;
$blanco: #fff;

// Tipografias

$lato: 'Lato', sans-serif;

// Peso de fuentes
$muygrueso: 900;
$grueso: 700;
$normal: 400;
$delgado: 300;

// Tamanos de fuentes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
