


@media only screen and (max-width: 1280px){
  .experiencia__titulo {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .experiencia__contenido {
    padding-bottom: 4rem;
  }

 .experiencia__contenido__espacio{
   float: right;
 }

  .educacion__titulo {
    padding-bottom: 4rem;
    padding-top: 3.5rem;
  }
  .educacion__contenido {
    padding-bottom: 4rem;
  }

  .educacion__contenido__espacio{
    float: right;
  }
  .habilidades__titulo {
    padding-bottom: 4rem;
    padding-top: 3.5rem;
  }
  .habilidades__contenido {
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 768px){
  .experiencia__titulo {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }


  .experiencia__contenido__espacio{
    float: right;
  }

   .educacion__titulo {
     padding-bottom: 4rem;
     padding-top: 4rem;
   }

   .educacion__contenido__espacio{
     float: right;
   }


  .habilidades__titulo {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 375px){
  .experiencia__titulo {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  .experiencia__contenido__espacio{
    float: right;
  }

   .educacion__titulo {
     padding-bottom: 4rem;
     padding-top: 4rem;
   }

   .educacion__contenido__espacio{
     float: right;
   }

  .habilidades__titulo {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}
