


@media only screen and (max-width: 1280px){
  * {
    box-sizing: border-box;
  }
  .menu {
    padding-top: 27rem;
    width: 20%;
    height: 100%;
    float: left;
    padding: 15px;
    background-color: $verde;
    position: fixed;
  }
  .menu__avatar {
    padding: 4rem 0rem 0rem 0rem;
  }
  .menu__lista {
    list-style: none;
    padding-top: 26rem;
    padding-left: .9rem;

    .nav-link {
      color: $negro;
      font-family: lato;
      text-align: center;
    }

  }

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: column;

}

 expand-lg .navbar-collapse {
    position: absolute;
    top: 30rem;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
}

}
@media only screen and (max-width: 768px){
  * {
    box-sizing: border-box;
  }
  .menu {
    width: 20%;
    height: 100%;
    float: left;
    padding: .5rem;
    background-color: $verde;
    position: fixed;
  }
  .menu__avatar {
    padding: 4rem 0rem .5rem 0.2rem;
    width: 100%;
    height: auto;
  }
  .menu__lista {
    list-style: none;
  }

}

@media only screen and (max-width: 375px){
  * {
    box-sizing: border-box;
  }
  .menu {
    width: 20%;
    height: 18%;
    float: left;
    padding: .1rem;
    background-color: $verde;
    position: fixed;
  }
  .menu__avatar {
    padding: .1rem .5rem .5rem 0rem;
    width: 3.4rem;
    height: auto;

  }
  .menu__lista {
    list-style: none;

  }


}
