


@media only screen and (max-width: 1280px){
  * {
    box-sizing: border-box;
  }
  .menu {
    padding-top: 4rem;
    width: 20%;
    height: 100%;
    float: left;
    padding: 15px;
    background-color: $verde;
    position: fixed;
  }
  .menu__avatar {
    padding: 4rem 0rem 0rem 0rem;
  }
  .menu__lista {
    list-style: none;
    padding-top: 8rem;
  }

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: column;
    padding-top: 27rem;
}

 expand-lg .navbar-collapse {
    position: absolute;
    padding-top: 30rem;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
}
#navbarNav {
  padding-top: 5rem;
}

}
@media only screen and (max-width: 768px){
  * {
    box-sizing: border-box;
  }
  .menu {
    width: 20%;
    height: 100%;
    float: left;
    padding: 15px;
    background-color: $verde;
    position: fixed;
  }
  .menu__avatar {
    padding: 4rem 0rem 0rem 0rem;
  }
  .menu__lista {
    list-style: none;
  }

}

@media only screen and (max-width: 375px){
  * {
    box-sizing: border-box;
  }
  .menu {
    width: 20%;
    height: 15%;
    float: left;
    padding: 15px;
    background-color: $verde;
    position: fixed;
  }
  .menu__avatar {
    padding: 4rem 0rem 0rem 0rem;
    background-color: $verde;

  }
  .menu__lista {
    list-style: none;

  }


}
